services:
  mongodb:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - "27017:27017"

  neo4j:
    image: neo4j:latest
    container_name: neo4j_db
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/password123

  cassandra:
    image: cassandra:latest
    container_name: cassandra_db
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_DC: datacenter1

  redis:
    image: redis:latest
    container_name: redis_db
    ports:
      - "6379:6379"

  app:
    build: .
    image: demo-app:latest
    container_name: spring_backend
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
      - neo4j
      - cassandra
      - redis
