services:
  mongodb:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - "27017:27017"

  neo4j:
    image: neo4j:latest
    container_name: neo4j_db
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/password123

  cassandra:
    image: cassandra:latest
    container_name: cassandra_db
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_DC=datacenter1
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M

    healthcheck:
      test: ["CMD-SHELL", "cqlsh -e 'describe keyspaces'"]
      interval: 20s
      timeout: 10s
      retries: 10

  redis:
    image: redis:latest
    container_name: redis_db
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: spring_backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/edugrade
      - SPRING_DATA_CASSANDRA_CONTACT_POINTS=cassandra
      - SPRING_DATA_NEO4J_URI=bolt://neo4j:7687
    depends_on:
      cassandra:
        condition: service_healthy
      mongodb:
        condition: service_started